// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-dark.css'
// Check out "bower_components/prism/themes/" for available themeszz

h3
{
   color:black;
}
.bespoke-slide {
    background : white;
    color:black;
    transition: all .8s ease;
    transform-origin: 50% 50% -400px;
}

article {
    top: 50%;
    height:600px;
}
.bespoke-inactive {
    opacity: 0;
}

.bespoke-before {
    transform: rotate(90deg);
}

.bespoke-after {
    transform: rotateY(90deg);
}