doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Banjir
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h1 Banjir

      section
        h4 
          ul
            li Disini Kita akan membahas seputar banjir
            li Memberikan sedikit penjelasan tentang mengapa banjir bisa terjadi
            li Memberikan efek-efek yang mungkin terjadi dari banjir
            li Dan sedikit saran tentang cara mencegahnya

       section
         h2 Penyebab terjadinya banjir
         h4 
            p Sebagian besar dari bencana alam yang akan kita jelaskan sebenarnya adalah akibat dari perbuatan kita sendiri.Maka kita harus mulai lebih peduli kepada lingkungan kita sendiri dan mungkin kita akan bisa memperpanjang umur bumi kita.:)

      section
        h3 Klasifikasi banjir berdasarkan penyebabnya dibedakan menjadi beberapa jenis, yaitu :
        h4 
          ul
            li 1. Luapan Air Sungai
            li 2. Pendangkalan Sungai, Kali, Selokan, Danau, Situ, Dll
            li 3. Penggundulan Hutan
            li 4. Air Bah / Banjir Bandang
            li 5. Hujan Deras Yang Lama
			li 6. Sampah yang menggendap di saluran air

      section
        h2 Luapan Air Sungai
        h4 
          p Sungai yang lebar dan kedalamannya tidak berubah, namun di sekitarnya terjadi peningkatan jumlah penduduk yang sangat signifikan dapat menyebabkan ketidakmampuan sungai untuk menampung secara keseluruhan air buangan, air hujan dan sampah yang masuk ke dalamnya. Jika sudah penuh, maka air akan menggenangi pinggiran sungai dan daerah rendah lainnya.

      section
        h2 Pendangkalan Sungai, Kali, Selokan, Danau, Situ, Dll
        h4 
          p Jika orang-orang selalu membuang sampah di sungai atau terus-menerus terjadi erosi tanah di sekitarnya, maka akan terjadi pendangkalan. Sungai, danau dan selokan yang dangkal tidak akan mampu menampung air dalam jumlah besar sehingga air akan meluap menggenangi sekitarnya dan daerah-daerah yang rendah.

      section
        h2 Penggundulan Hutan
        h4 
          p Hutan yang berisi berbagai macam pohon-pohon lebat nan rindang serta semak belukar yang rimbun dengan lantai hutan yang penuh dengan kompos alami sampah hutan dapat menyerap air hujan dalam jumlah besar. Jika hutan digunduli dan dipersempit, maka air hujan akan meluncur ke sungai dan kemudian berakhir di laut.

      section(data-bespoke-hash='named-route')
        h2 Air Bah / Banjir Bandang
        h4
          p Air bah atau air banjir bandang yang datangnya cepat dan tiba-tiba bisa saja terjadi akibat terjadinya sesuatu hal seperti jebol tanggul, jebol bendungan, tanah longsor, hujan lebat di daerah sekitar hulu sungai, salju mencair masal secara tiba-tiba dan lain sebagainya. Banjir yang tiba-tiba ini bisa saja langsung menghajar dan menggenangi daerah pemukiman penduduk.
            
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Hujan Deras Yang Lama 
        h4
          p DJika hujan terjadi dengan intensitas yang tinggi dalam waktu yang panjang bisa mengakibatkan suatu daerah yang tidak biasa banjir menjadi banjir jika tidak sigap menghadapi kuantitas air yang tidak wajar di luar kebiasaan normalnya.

      section
        h2 Cara mencegah banjir
        h4
          ul
            li Membuat Saluran Air
            li Membuang Sampah pada Tempatnya
            li Membersihkan Saluran Air
            li Membuat Bendungan
            li Menanam Pohon

      section
        h2 Membuat Saluran Air
        h4
          p Cara mencegah dan mengatasi banjir adalah dengan membuat saluran air. Ketika saluran air di perkotaan dibuat dengan baik, maka setiap hujan yang mengalir akan mudah dialirkan dan tidak akan menumpuk dan menyebabkan bencana banjir.

      section
        h2 Membuang Sampah pada Tempatnya
        h4
          p Salah satu penyebab banjir adalah tumpukan sampah yang ada di sungai. Oleh karena itu, jika anda ingin mencegah banjir, buanglah sampah pada tempatnya, jangan membuang sampah di sungai karena hal tersebut membuat aliran sungai tidak lancar. 

      section
        h2 Membersihkan Saluran Air
        h4
          p cara mencegah dan mengatasi banjir, salah satunya adalah dengan rutin membersihkan saluran air. Jika banyak sampah yang ada di saluran air, pastilah saluran tersebut akan mampet dan bisa menyebabkan banjir. Untuk itu, bersihkan saluran setidaknya sekali seminggu.

      section
        h2 Membuat Bendungan
        h4
          p Agar banjir tidak meresahkan masyarakat, tak ada salahnya anda membuat bendungan di sekitar sungai. Dengan adanya bendungan tersebut, jika air sungai membludak saat hujan, air akan tertahan oleh bendungan dan tidak akan menyebabkan banjir sampai rumah warga.

      section
        h2 Menanam Pohon
        h4
          p Ketika banyak pohon yang ditanam, maka air hujan akan terserap dengan baik ke tanah. Jika air hujan sudah terserap ke tanah, pastilah tidak ada banjir yang akan melanda.
 
    script(src='build/build.js')