doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Bencana Alam
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h1 Bencana Alam

      section
        h4 
          ul
            li Disini Kita akan membahas seputar bencana alam
            li Memberikan sedikit penjelasan tentang mengapa bencana bisa terjadi
            li Memberikan efek-efek yang mungkin terjadi dari bencana
            li Dan sedikit saran tentang cara mencegahnya

       section
         h2 Pentingnya menjaga lingkungan
           h4 
             p Sebagian besar dari bencana alam yang akan kita jelaskan sebenarnya adalah akibat dari perbuatan kita sendiri.Maka kita harus mulai lebih peduli kepada lingkungan kita sendiri dan mungkin kita akan bisa memperpanjang umur bumi kita.:)

      section
        h3 Klasifikasi bencana alam berdasarkan penyebabnya dibedakan menjadi tiga jenis, yaitu :
        h4 
          ul
            li 1. Bencana alam geologis
            li 2. Bencana alam klimatologis
            li 3. Bencana alam ekstra-terestrial

      section
        h2 Bencana alam geologis
        h4 
          p Bencana alam ini disebabkan oleh gaya-gaya yang berasal dari dalam bumi. Yang termasuk dalam bencana alam geologis adalah gempa bumi, letusan gunung berapi, dan tsunami.

      section
        h2 Bencana alam klimatologis
        h4 
          p Bencana alam klimatologis merupakan bencana alam yang disebabkan oleh faktor angin dan hujan.Contoh bencana alam klimatologis adalah banjir, badai, banjir bandang, angin puting beliung, kekeringan, dan kebakaran alami hutan (bukan oleh manusia).

      section
        h2 Bencana alam ekstra-terestrial
        h4 
          p Bencana alam Ekstra-Terestrial adalah bencana alam yang terjadi di luar angkasa, contoh : hantaman/impact meteor. Bila hantaman benda-benda langit mengenai permukaan bumi maka akan menimbulkan bencana alam yang dahsyat bagi penduduk bumi.

      section(data-bespoke-hash='named-route')
        h2 Contoh bencana alam yang akan kami bahas
        h4
          ul
            li Global Warming
            li Banjir
            li Gempa Bumi
            li Tanah Longsor
            li Kebakaran Hutan
            
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h4 
          p Dari Kelima Contoh diatas 4 diantaranya adalah ulah dari manusia sendiri (walaupun penyebab alami juga mungkin terjadi tetapi jarang).Bisa terlihat bahwa kita kurang peduli terhadap lingkungan kita sendiri bahkan dalam hal-hal kecil seperti membuang sampah.jadi marilah kita menjaga lingkungan kita bersama untuk kepentingan bersama.:)
      section 
        h2 Banjir
          p Banjir merupakan Bencana yang paling sering terjadi di negara kita, bagaimana tidak banjir di sebabkan oleh sampah2 yang menutupi jalur air seperti paret, selokan dan sungai.
      section
        h2 Gempa Bumi
          p Gempa bumi adalah getaran atau guncangan yang terjadi di permukaan bumi akibat pelepasan energi dari dalam secara tiba-tiba yang menciptakan gelombang seismik.
      section
        h2 Tanah Longsor
          p Longsor atau sering disebut gerakan tanah adalah suatu peristiwa geologi yang terjadi karena pergerakan masa batuan atau tanah dengan berbagai tipe dan jenis seperti jatuhnya bebatuan atau gumpalan besar tanah.
      section
        h2
          P Kebakaran hutan, kebakaran vegetasi, atau kebakaran semak, adalah sebuah kebakaran yang terjadi di alam liar, tetapi juga dapat memusnahkan rumah-rumah dan lahan pertanian disekitarnya. Penyebab umum termasuk petir, kecerobohan manusia, dan pembakaran.
    script(src='build/build.js')