doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Gempa Bumi
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h1 Gempa Bumi

      section
        h4 
          ul
            li Membahas jenis dari gempa bumi
            li Memberikan sedikit penjelasan tentang penyebab gempa
            li Akibat dan cara mengatasi gempa bumi

       section
         h2 Jenis Gempa Bumi
         h4 
           ul
             li Gempa bumi Tektonik disebabkan oleh adanya aktivitas tektonik, yaitu pergeseran lempeng-lempeng tektonik secara mendadak 
             li Gempa bumi Vulkanik terjadi akibat adanya aktivitas magma, yang biasa terjadi sebelum gunung api meletus

       section
         h2 Penyebab terjadinya gempa Bumi
         h4
           p Kebanyakan gempa Bumi disebabkan dari pelepasan energi yang dihasilkan oleh tekanan yang disebabkan oleh lempengan yang bergerak. Semakin lama tekanan itu kian membesar dan akhirnya mencapai pada keadaan dimana tekanan tersebut tidak dapat ditahan lagi oleh pinggiran lempengan. Pada saat itulah gempa Bumi akan terjadi. Gempa biasanya terjadi di perbatasan lempengan-lempengan tersebut.
        
        section
          h2 Akibat Gempa Bumi
            h4
              ul
                li Bangunan roboh
                li Kebakaran
                li Jatuhnya korban jiwa
                li Permukaan tanah menjadi merekat dan jalan menjadi putus
                li Tanah longsor akibat guncangan
                li Banjir akibat rusaknya tanggul
                li Gempa di dasar laut yang menyebabkan tsunami
 
    script(src='build/build.js')