doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title 1.Pengenalan Global Warming
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h1 Global Warming ???

      section
        h4 
          ul
            li suatu proses meningkatnya suhu rata-rata atmosfer, laut, dan daratan Bumi.
            li Suhu rata-rata global permukaan Bumi telah meningkat 0.74 ± 0.18 °C (1.33 ± 0.32 °F) seratus tahun terakhir. 
            li Hal ini akan menyebabkan efek-efek yang merugikan bumi

       section
         h4 Suhu naik terus bumi TERBAKAR karena terlalu PANAS!! 

      section
        h2 Penyebab pemanasan global
        h4 
          ul
            li Efek Rumah Kaca
            li Halaman Rumah tanpa pepohonan
            li Boros Listrik
            li Bahan Bakan Kenderaan
            li Polusi asap dari industri Pabrik yang tidak bertanggung jawab

      section
        h2 Efek Rumah Kaca
          h4
            ul
              li Panas Radiasi dari matahari
              li Diserap permukaan bumi dan sisanya dipantulkan kembali
              li Sebagian panas yang dipantulkan terperangkap di atmosfir bumi
              li Terperangkap akibat gas rumah kaca
              li Gas menyerap panas dan memantulkan kembali secara berulang
              li Akibatnya suhu bumi meningkat setiap tahun

      section
        h2 Halaman Rumah tanpa pepohonan
        h4
          ul
            li Tumbuhan hijau atau pepohonan menyerap Karbondioksida
            li salah satu penyebab efek rumah kaca
            li semakin sedikit pohon, semakin banyak gas Karbondioksida
            li laju Global Warming pun semakin cepat

      section(data-bespoke-hash='named-route')
        h2 Boros Listrik
        p Penggunan listrik yang wajar dan sesuai kebutuhan tentu prilaku manusia bijak. Semua orang menginginkan hal tersebut bisa di lakukan oleh setiap individu. Tapi, ternyata untuk hemat dalam penggunaan listrik bukanlah pekerjaan yang mudah bagi sebagian besar orang. Akibatnya, hal ini sebagai penyumbang pemanasan global terjadi.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Bahan Bakar Kenderaan
        p Bahan bakar dari kendaran selain mengganggu bagi kesehatan manusia, juga bisa memberikan bertambahnya pemasanasan global dari polusi udara yang di hasilkan. Kita ketahui, jumlah kendaraan terus bertambah, tidak ada pengurangan. Pengguna sepeda motor dari tahun ketahun terus meningkat penggunanya. Begitu juga dengan pengendara mobil tidak mau kalah. Sementara sepeda motor dan mobil yang lama tidak di musnahkan atau tetap di biarkan beredar.

      section
        h2 Polusi asap dari industri Pabrik yang tidak bertanggung jawab
        p Dengan alasan membuka lapangan pekerjaan bagi rakyat Indonesia, maka banyak pabrik industri yang tumbuh dan berkembang. Tidak lain dan tidak bukan untuk mensejahterakan rakyat. Supaya bisa mendapatkan penghasilan dengan bekerja. Jika pernyataan di atas benar, maka wajar jika kita mendapatkannya, ya mendapatkan rasa panasnya bumi karena banyak polusi asap dari pabrik industri. Ini memang dilema, di satu sisi untuk kepentingan rakyat, tapi di sisi lain mengorbankan eksistensi bumi.

      section
        h2 TESTINGGGGGGG

    script(src='build/build.js')