doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
<<<<<<< HEAD
    title Global Warming
=======
<<<<<<< HEAD
    title 1.Pengenalan Global Warming
=======
    title Hello World
>>>>>>> 8be33629d32fe6048f24c9cea819d03bf7054f9c
>>>>>>> da4cc6cc359d171c7ed06fcd645424263b3e5312

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
<<<<<<< HEAD
        h1 Global Warming

      section
        h2 Global warming adalah suatu proses meningkatnya suhu rata-rata atmosfer, laut, dan daratan Bumi
=======
<<<<<<< HEAD
        h1 1.Pengenalan Global Warming

      section
        h2 Global Warming ul li testing
=======
        h1 Global Warming !!

      section
        h2 Keyboard Interaction
>>>>>>> 8be33629d32fe6048f24c9cea819d03bf7054f9c
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>
>>>>>>> da4cc6cc359d171c7ed06fcd645424263b3e5312

      section
        p Suhu rata-rata global pada permukaan Bumi telah meningkat 0.74 ± 0.18 °C (1.33 ± 0.32 °F) selama seratus tahun terakhir. Intergovernmental Panel on Climate Change (IPCC) menyimpulkan bahwa, "sebagian besar peningkatan suhu rata-rata global sejak pertengahan abad ke-20 kemungkinan besar disebabkan oleh meningkatnya konsentrasi gas-gas rumah kaca akibat aktivitas manusia" melalui efek rumah kaca. 

      section
        h2 Penyebab pemanasan global

      section
        h2 Efek Rumah Kaca
        p Segala sumber energi yang terdapat di Bumi berasal dari matahari. Sebagian besar energi tersebut berbentuk radiasi gelombang pendek, termasuk cahaya tampak. Ketika energi ini tiba permukaan Bumi, ia berubah dari cahaya menjadi panas yang menghangatkan Bumi. Permukaan Bumi, akan menyerap sebagian panas dan memantulkan kembali sisanya. Sebagian dari panas ini berwujud radiasi infra merah gelombang panjang ke angkasa luar. 
       
      section
        h2 Halaman Rumah tanpa pepohonan
        p Tumbuhan hijau atau pepohonan bisa membuat udara menjadi sejuk dan menetralkan suhu udara sehingga bisa di simpulkan bahwa pohon (tumbuhan) bisa mengatasi suhu panas yang tinggi. Jika memang benar demikian, maka selayaknya setiap rumah mau menanam pohon di pekarangan rumahnya. Tapi hal ini juga tidak dilakukan oleh banyak rumah, apakah lagi rumah di perkotaan yang lebih memilih membangun gedung daripada menanam pepohonan hijau.

      section(data-bespoke-hash='named-route')
        h2 Boros Listrik
        p Penggunan listrik yang wajar dan sesuai kebutuhan tentu prilaku manusia bijak. Semua orang menginginkan hal tersebut bisa di lakukan oleh setiap individu. Tapi, ternyata untuk hemat dalam penggunaan listrik bukanlah pekerjaan yang mudah bagi sebagian besar orang. Akibatnya, hal ini sebagai penyumbang pemanasan global terjadi.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Bahan Bakan Kenderaan
        p Bahan bakan dari kendaran selain mengganggu bagi kesehatan manusia, juga bisa memberikan bertambahnya pemasanasan global dari polusi udara yang di hasilkan. Kita ketahui, jumlah kendaraan terus bertambah, tidak ada pengurangan. Pengguna sepeda motor dari tahun ketahun terus meningkat penggunanya. Begitu juga dengan pengendara mobil tidak mau kalah. Sementara sepeda motor dan mobil yang lama tidak di musnahkan atau tetap di biarkan beredar.

      section
        h2 Polusi asap dari industri Pabrik yang tidak bertanggung jawab
        p Dengan alasan membuka lapangan pekerjaan bagi rakyat Indonesia, maka banyak pabrik industri yang tumbuh dan berkembang. Tidak lain dan tidak bukan untuk mensejahterakan rakyat. Supaya bisa mendapatkan penghasilan dengan bekerja. Jika pernyataan di atas benar, maka wajar jika kita mendapatkannya, ya mendapatkan rasa panasnya bumi karena banyak polusi asap dari pabrik industri. Ini memang dilema, di satu sisi untuk kepentingan rakyat, tapi di sisi lain mengorbankan eksistensi bumi.

    script(src='build/build.js')