doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title 1.Pengenalan Global Warming
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h1 Global Warming

      section
        h4 
          ul
            li suatu proses meningkatnya suhu rata-rata atmosfer, laut, dan daratan Bumi.
            li Suhu rata-rata global permukaan Bumi telah meningkat 0.74 ± 0.18 °C (1.33 ± 0.32 °F) seratus tahun terakhir. 
            li Hal ini akan menyebabkan efek-efek yang merugikan bumi

       section
         img(src='images/Global1.jpg')
         h4 Suhu naik terus bumi TERBAKAR karena terlalu PANAS!! 

      section
        h2 Penyebab pemanasan global
        h4 
          ul
            li Efek Rumah Kaca
            li Halaman Rumah tanpa pepohonan
            li Boros Listrik
            li Bahan Bakan Kenderaan
            li Polusi asap dari industri Pabrik yang tidak bertanggung jawab
            li Pembakaran Hutan dan ilegal loging
            li Penggunaan CFC yang Tidak Terkontrol

      section
        h2 Efek Rumah Kaca
          img(src="images/Greenhouse.jpeg")

      section
          h4
            ul
              li Panas Radiasi dari matahari
              li Diserap permukaan bumi dan sisanya dipantulkan kembali
              li Sebagian panas yang dipantulkan terperangkap di atmosfir bumi
              li Terperangkap akibat gas rumah kaca
              li Gas menyerap panas dan memantulkan kembali secara berulang
              li Akibatnya suhu bumi meningkat setiap tahun

      section
        h2 Halaman Rumah tanpa pepohonan
        h4
          ul
            li Tumbuhan hijau atau pepohonan menyerap Karbondioksida
            li salah satu penyebab efek rumah kaca
            li semakin sedikit pohon, semakin banyak gas Karbondioksida
            li laju Global Warming pun semakin cepat


      section(data-bespoke-hash='named-route')
        h2 Boros Listrik
        h4
          ul
            li Batubara menjadi sumber listrik yang paling banyak digunakan di seluruh dunia
            li Hanya 1/3 saja penggunaan batubara yang menghasilkan energi
            li Sisanya hanya menjadi debu dan polusi udara atau gas rumah kaca seperti CO2
            li boros listrik = tagihan bertambah , suhu bumi juga bertambah
            
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Bahan Bakar Kenderaan
        h4
          ul
            li Hasil Pembakaran dari Kendaraan Menghasilkan Karbondioksida dan Karbonmonoksida
            li Karbondioksida merupakan gas rumah kaca
            li Karbondioksida merupakan racun bagi manusia
            li Penggunaan kendaraan yang berlebihan akan berbahaya bagi bumi dan manusia

      section
        h2 Polusi asap dari industri Pabrik yang tidak bertanggung jawab
        h4
          ul
            li Dengan alasan membuka lapangan pekerjaan bagi rakyat Indonesia, maka banyak pabrik industri yang tumbuh dan berkembang 
            li Tetapi polusi dari asap pabrik juga merupakan gas rumah kaca
            li Ini memang dilema, di satu sisi untuk kepentingan rakyat, tapi di sisi lain mengorbankan eksistensi bumi.

      section
        h2 Pembakaran Hutan dan ilegal loging
        h4
          ul
            li Sumber mangatakan bahwa sekitar 50 % pemanasan global disebabkan oleh CO2 
            li dimana emisi CO2 disebabkan oleh penggunaan bahan bakarfosil dan kerusakan/pembakaran hutan
            li hutan juga bisa mereduksi suhu panas bumi yang cenderung meningkat
            li tidak adanya hutan merupakan masalah bagi bumi kita ini

      section
        h2 Penggunaan CFC yang Tidak Terkontrol
        h4
          ul
            li CFC atau Cloro Flour Carbon dapat menipiskan lapisan ozon
            li CFC yang sampai ke lapisan ozon akan bereaksi dan menipiskan lapisan ozon
            li CFC banyak terdapat pada peralatan rumah tangga seperti : AC , pengharum ruangan
            li Pengunaan yang berlebihan dapat memicu Global-Warming

      section
        h3 Kerugian-Kerugian yang akan ditimbulkan?
        
      section
        h4
          ul
            li Kenaikan permukaan air laut
            li Peningkatan intensitas terjadinya badai
            li Menurunnya produksi pertanian akibat gagal panen
            li Makhluk hidup terancam kepunahan
 
      section
        h2 Kenaikan permukaan air laut
        h4
          ul
            li Para ilmuwan memprediksi peningkatan tinggi air laut di seluruh dunia
            li karena mencairnya dua lapisan es raksasa di Antartika dan Greenland
            li Banyak negara di seluruh dunia akan mengalami efek berbahaya dari kenaikan air laut ini
            li Inilah mungkin yang faktor penyebab tenggelamnya Ibu Kota Jakarta beberapa tahun mendatang sesuai dengan yang diprediksi ilmuwan.

      section
        h2 Peningkatan intensitas terjadinya badai
        h4
          ul
            li Tingkat terjadinya badai dan siklon semakin meningkat
            li Di dukung oleh bukti yang telah ditemukan oleh para ilmuwan
            li bahwa pemanasan global secara signifikan akan menyebabkan terjadinya kenaikan temperatur udara dan lautan
            li Hal ini mengakibatkan terjadinya peningkatan kecepatan angin yang dapat memicu terjadinya badai kuat.

      section
        h2 Menurunnya produksi pertanian akibat gagal panen
        h4
          ul 
            li Diyakini bahwa, milyaran penduduk di seluruh dunia akan mengalami bencana kelaparan
            li karena faktor menurunnya produksi pangan pertanian akibat kegagalan panen
            li Ini disebabkan oleh pemanasan global yang memicu terjadinya perubahan iklim yang kurang kondusif bagi tanaman pangan.

      section
        h2 Makhluk hidup terancam kepunahan
        h4
          ul
            li Berdasarkan penelitian yang dipublikasikan di Nature, pada tahun 2050 mendatang
            li peningkatan suhu dapat menyebakan terjadinya kepunahan jutaan spesies.
            li Artinya, di tahun-tahun mendatang keragaman spesies bumi akan jauh berkurang.
            li Namun, semoga saja tidak termasuk di dalamnya spesies manusia.

      section
        h2 Cara Mencegah ???
        
      section
        h4
          ul
            li Menanam Pohon
            li Mengurangi Penggunaan Mobil
            li Menggunakan Energi Alternatif
            li Menghapus Penggunaan CFC

      section
        h2 Menanam Pohon
        h4
          ul
            li CO2 digunakan tanaman untuk berfotosintesis
            li maka penanaman pohon dalam jumlah banyak akan mengurangi jumlah CO2 di atmosfer
            li Berkurangnya CO2 berarti berkurangnya gas rumah kaca
            li Penaikan suhu pun akan tercegah

      section
        h2 Mengurangi Penggunaan Mobil
        h4
          ul
            li Penggunan mobil yang sedikit berarti POLUSI udara sedikit
            li Gas rumah kaca berkurang
            li dan juga mengurangi resiko penyakit pernafasan
          
       section
         h2 Menggunakan Energi Alternatif
           h4
             ul
               li Pembangkit listrik yang berbahan bakar fosil menghasilkan gas rumah kaca
               li diusahakan diganti dengan energi bersih, seperti sinar matahari, air, angin
               li Lebih ramah lingkungan dan mungkin harga lebih terjangkau
               li tetapi belum dimanfaatan secara optimal
       section
         h2 Bencana Alam
           p bencana alam merupakan musibah yang paling di takuti umat manusia, tetapi beluma ada penjelasan apakah musibah diciptakan atau memang sifat asli alam bumi kita ini?
    script(src='build/build.js')