doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title 1.Pengenalan Global Warming
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h1 Global Warming ???

      section
        h4 
          ul
            li suatu proses meningkatnya suhu rata-rata atmosfer, laut, dan daratan Bumi.
            li Suhu rata-rata global permukaan Bumi telah meningkat 0.74 ± 0.18 °C (1.33 ± 0.32 °F) seratus tahun terakhir. 
            li Hal ini akan menyebabkan efek-efek yang merugikan bumi

       section
         h4 Suhu naik terus bumi TERBAKAR karena terlalu PANAS!! 

      section
        h2 Penyebab pemanasan global
        h4 
          ul
            li Efek Rumah Kaca
            li Halaman Rumah tanpa pepohonan
            li Boros Listrik
            li Bahan Bakan Kenderaan
            li Polusi asap dari industri Pabrik yang tidak bertanggung jawab
            li Pembakaran Hutan dan ilegal loging

      section
        h2 Efek Rumah Kaca
          h4
            ul
              li Panas Radiasi dari matahari
              li Diserap permukaan bumi dan sisanya dipantulkan kembali
              li Sebagian panas yang dipantulkan terperangkap di atmosfir bumi
              li Terperangkap akibat gas rumah kaca
              li Gas menyerap panas dan memantulkan kembali secara berulang
              li Akibatnya suhu bumi meningkat setiap tahun

      section
        h2 Halaman Rumah tanpa pepohonan
        h4
          ul
            li Tumbuhan hijau atau pepohonan menyerap Karbondioksida
            li salah satu penyebab efek rumah kaca
            li semakin sedikit pohon, semakin banyak gas Karbondioksida
            li laju Global Warming pun semakin cepat

      section(data-bespoke-hash='named-route')
        h2 Boros Listrik
        h4
          ul
            li Batubara menjadi sumber listrik yang paling banyak digunakan di seluruh dunia
            li Hanya 1/3 saja penggunaan batubara yang menghasilkan energi
            li Sisanya hanya menjadi debu dan polusi udara atau gas rumah kaca seperti CO2
            li boros listrik = tagihan bertambah , suhu bumi juga bertambah
            
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Bahan Bakar Kenderaan
        h4
          ul
            li Hasil Pembakaran dari Kendaraan Menghasilkan Karbondioksida dan Karbonmonoksida
            li Karbondioksida merupakan gas rumah kaca
            li Karbondioksida merupakan racun bagi manusia
            li Penggunaan kendaraan yang berlebihan akan berbahaya bagi bumi dan manusia

      section
        h2 Polusi asap dari industri Pabrik yang tidak bertanggung jawab
        h4
          ul
            li Dengan alasan membuka lapangan pekerjaan bagi rakyat Indonesia, maka banyak pabrik industri yang tumbuh dan berkembang 
            li Tetapi polusi dari asap pabrik juga merupakan gas rumah kaca
            li Ini memang dilema, di satu sisi untuk kepentingan rakyat, tapi di sisi lain mengorbankan eksistensi bumi.

      section
        h2 Pembakaran Hutan dan ilegal loging
        h4
          ul
            li Sumber mangatakan bahwa sekitar 50 % pemanasan global disebabkan oleh CO2 
            li dimana emisi CO2 disebabkan oleh penggunaan bahan bakarfosil dan kerusakan/pembakaran hutan
            li hutan juga bisa mereduksi suhu panas bumi yang cenderung meningkat
            li tidak adanya hutan merupakan masalah bagi bumi kita ini
            

    script(src='build/build.js')