doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title 1.Pengenalan Global Warming
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h1 Global Warming

      section
        h4 
          ul
            li suatu proses meningkatnya suhu rata-rata atmosfer, laut, dan daratan Bumi.
            li Suhu rata-rata global permukaan Bumi telah meningkat 0.74 ± 0.18 °C (1.33 ± 0.32 °F) seratus tahun terakhir. 
            li Hal ini akan menyebabkan efek-efek yang merugikan bumi

       section
         h4 Suhu naik terus bumi TERBAKAR karena terlalu PANAS!! 

      section
        h2 Penyebab pemanasan global
        h4 
          ul
            li Efek Rumah Kaca
            li Halaman Rumah tanpa pepohonan
            li Boros Listrik
            li Bahan Bakan Kenderaan
            li Polusi asap dari industri Pabrik yang tidak bertanggung jawab

      section
        h2 Efek Rumah Kaca
          img(src="images/Greenhouse.jpeg")

      section
          h4
            ul
              li Panas Radiasi dari matahari
              li Diserap permukaan bumi dan sisanya dipantulkan kembali
              li Sebagian panas yang dipantulkan terperangkap di atmosfir bumi
              li Terperangkap akibat gas rumah kaca
              li Gas menyerap panas dan memantulkan kembali secara berulang
              li Akibatnya suhu bumi meningkat setiap tahun

      section
<<<<<<< HEAD
        h2 Halaman tanpa pepohonan
          img(src="images/lindungi-pemanasan-global-dengan-menanam-pohon-di-rumah.jpg")

      section
        p Tumbuhan hijau atau pepohonan bisa membuat udara menjadi sejuk dan menetralkan suhu udara sehingga bisa di simpulkan bahwa pohon (tumbuhan) bisa mengatasi suhu panas yang tinggi. Jika memang benar demikian, maka selayaknya setiap rumah mau menanam pohon di pekarangan rumahnya. Tapi hal ini juga tidak dilakukan oleh banyak rumah, apakah lagi rumah di perkotaan yang lebih memilih membangun gedung daripada menanam pepohonan hijau.
=======
        h2 Halaman Rumah tanpa pepohonan
        h4
          ul
            li Tumbuhan hijau atau pepohonan menyerap Karbondioksida
            li salah satu penyebab efek rumah kaca
            li semakin sedikit pohon, semakin banyak gas Karbondioksida
            li laju Global Warming pun semakin cepat
>>>>>>> 9668778b6170d1169a1d2951f6e534e3a0058ba4

      section(data-bespoke-hash='named-route')
        h2 Boros Listrik
          img(src="images/perangkat_boros_energi.jpg")

      section
        p Penggunan listrik yang wajar dan sesuai kebutuhan tentu prilaku manusia bijak. Semua orang menginginkan hal tersebut bisa di lakukan oleh setiap individu. Tapi, ternyata untuk hemat dalam penggunaan listrik bukanlah pekerjaan yang mudah bagi sebagian besar orang. Akibatnya, hal ini sebagai penyumbang pemanasan global terjadi.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Bahan Bakan Kenderaan
          img(src="images/tips-kendaraan-hemat-bahan-bakar-bbm.jpg")

      section
        p Bahan bakan dari kendaran selain mengganggu bagi kesehatan manusia, juga bisa memberikan bertambahnya pemasanasan global dari polusi udara yang di hasilkan. Kita ketahui, jumlah kendaraan terus bertambah, tidak ada pengurangan. Pengguna sepeda motor dari tahun ketahun terus meningkat penggunanya. Begitu juga dengan pengendara mobil tidak mau kalah. Sementara sepeda motor dan mobil yang lama tidak di musnahkan atau tetap di biarkan beredar.

      section
        h2 Polusi asap dari industri Pabrik yang tidak bertanggung jawab
          img(src="images/sepuluh.jpg")

      section
        p Dengan alasan membuka lapangan pekerjaan bagi rakyat Indonesia, maka banyak pabrik industri yang tumbuh dan berkembang. Tidak lain dan tidak bukan untuk mensejahterakan rakyat. Supaya bisa mendapatkan penghasilan dengan bekerja. Jika pernyataan di atas benar, maka wajar jika kita mendapatkannya, ya mendapatkan rasa panasnya bumi karena banyak polusi asap dari pabrik industri. Ini memang dilema, di satu sisi untuk kepentingan rakyat, tapi di sisi lain mengorbankan eksistensi bumi.

      section
<<<<<<< HEAD
        h2 Berikut ini akibat yang ditimbulkan oleh terjadinya pemanasan global:
 
      section
        h2 Kenaikan permukaan air laut
          img(src="images/kenaikan-permukaan-laut.jpg")

      section
        p Para ilmuwan memprediksi peningkatan tinggi air laut di seluruh dunia karena mencairnya dua lapisan es raksasa di Antartika dan Greenland. Banyak negara di seluruh dunia akan mengalami efek berbahaya dari kenaikan air laut ini. Inilah mungkin yang faktor penyebab tenggelamnya Ibu Kota Jakarta beberapa tahun mendatang sesuai dengan yang diprediksi ilmuwan.

      section
        h2 Peningkatan intensitas terjadinya badai
          img(src="images/138918_kabut-tebal-selimuti-jakarta_663_382.jpg")

      section
        p Tingkat terjadinya badai dan siklon semakin meningkat. Di dukung oleh bukti yang telah ditemukan oleh para ilmuwan bahwa pemanasan global secara signifikan akan menyebabkan terjadinya kenaikan temperatur udara dan lautan. Hal ini mengakibatkan terjadinya peningkatan kecepatan angin yang dapat memicu terjadinya badai kuat.

      section
        h2 Menurunnya produksi pertanian akibat gagal panen
          img(src="images/image_37_ilustrasi kering.jpg")

      section
        p Diyakini bahwa, milyaran penduduk di seluruh dunia akan mengalami bencana kelaparan karena faktor menurunnya produksi pangan pertanian akibat kegagalan panen. Ini disebabkan oleh pemanasan global yang memicu terjadinya perubahan iklim yang kurang kondusif bagi tanaman pangan.

      section
        h2 Makhluk hidup terancam kepunahan
          img(src="images/gajah-kalimantan.jpg")

      section
        p Berdasarkan penelitian yang dipublikasin di Nature, pada tahun 2050 mendatang, peningkatan suhu dapat menyebakan terjadinya kepunahan jutaan spesies. Artinya, di tahun-tahun mendatang keragaman spesies bumi akan jauh berkurang. Namun, semoga saja tidak termasuk di dalamnya spesies manusia.

=======
        h2 TESTINGGGGGGG
>>>>>>> 9668778b6170d1169a1d2951f6e534e3a0058ba4

    script(src='build/build.js')